# General steps to clean and apply data to a model

1. Import all libraries needed
2. Do a very high level data exploration determine and handle:
    1. Data quality
    2. What variables we care about most to generate a predictive question
3. Identify the X and the y (input and output.) (Key: what are we trying to predict?)
4. Train-test Split into training data, Train-test Split into validation data
5. Clean the train data to fit into a model:
    1. Qualitative data (dummy variables)
    2. NaN values (impute, drop)
    3. Outliers (standardize, drop)
6. Take the cleaning mechanisms from the train data and turn it into function. You're making assumptions there.
7. Clean the validation data to score into a model.
8. Run the training data on model and the validation data on model and compare the two.
9. Select the best hypothesis on the test. score on test.

In [26]:
# import all the libraries

# Data set
from sklearn import datasets

# Data exploration and analysis tools
import pandas as pd
import seaborn as sns
import numpy as np

# Data cleaning for machine learning models
from sklearn.model_selection import train_test_split #split data into testing and training data
from sklearn.feature_selection import SelectKBest # identify best X that may predict Y
from sklearn.feature_selection import mutual_info_regression #needed for SelectKBest
from sklearn.preprocessing import StandardScaler #handle outliers after selecting K best guess variables that predict Y

# Machine Learning model
from sklearn.neighbors import KNeighborsRegressor

In [2]:
# load the data and store it in a variable called "data"
data = datasets.load_boston()

In [3]:
# Look at what keys are in the dataset
data.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR'])

In [4]:
# Read the documentation to understand the data
# Looking at the column titles, it's apparent that we're trying to predict the value of the home and see how the other features may predict housing price
# I feel that the X may be qualitative data and the Y is the MEDV (median value of owner-occupied homes in $1000's)
print(data['DESCR'])

Boston House Prices dataset
===========================

Notes
------
Data Set Characteristics:

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive

    :Median Value (attribute 14) is usually the target

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
http://archive.ics.uci.edu/ml/datasets/Housing


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

**References**

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.
   - many more! (see http://archive.ics.uci.edu/ml/datasets/Housing)

In [5]:
print(data['feature_names'])

['CRIM' 'ZN' 'INDUS' 'CHAS' 'NOX' 'RM' 'AGE' 'DIS' 'RAD' 'TAX' 'PTRATIO'
 'B' 'LSTAT']

In [6]:
print(data['target'])

[24.  21.6 34.7 33.4 36.2 28.7 22.9 27.1 16.5 18.9 15.  18.9 21.7 20.4
 18.2 19.9 23.1 17.5 20.2 18.2 13.6 19.6 15.2 14.5 15.6 13.9 16.6 14.8
 18.4 21.  12.7 14.5 13.2 13.1 13.5 18.9 20.  21.  24.7 30.8 34.9 26.6
 25.3 24.7 21.2 19.3 20.  16.6 14.4 19.4 19.7 20.5 25.  23.4 18.9 35.4
 24.7 31.6 23.3 19.6 18.7 16.  22.2 25.  33.  23.5 19.4 22.  17.4 20.9
 24.2 21.7 22.8 23.4 24.1 21.4 20.  20.8 21.2 20.3 28.  23.9 24.8 22.9
 23.9 26.6 22.5 22.2 23.6 28.7 22.6 22.  22.9 25.  20.6 28.4 21.4 38.7
 43.8 33.2 27.5 26.5 18.6 19.3 20.1 19.5 19.5 20.4 19.8 19.4 21.7 22.8
 18.8 18.7 18.5 18.3 21.2 19.2 20.4 19.3 22.  20.3 20.5 17.3 18.8 21.4
 15.7 16.2 18.  14.3 19.2 19.6 23.  18.4 15.6 18.1 17.4 17.1 13.3 17.8
 14.  14.4 13.4 15.6 11.8 13.8 15.6 14.6 17.8 15.4 21.5 19.6 15.3 19.4
 17.  15.6 13.1 41.3 24.3 23.3 27.  50.  50.  50.  22.7 25.  50.  23.8
 23.8 22.3 17.4 19.1 23.1 23.6 22.6 29.4 23.2 24.6 29.9 37.2 39.8 36.2
 37.9 32.5 26.4 29.6 50.  32.  29.8 34.9 37.  30.5 36.4 31.1 29.1 50.
 33.3 30.3 34.6 34.9 32.9 24.1 42.3 48.5 50.  22.6 24.4 22.5 24.4 20.
 21.7 19.3 22.4 28.1 23.7 25.  23.3 28.7 21.5 23.  26.7 21.7 27.5 30.1
 44.8 50.  37.6 31.6 46.7 31.5 24.3 31.7 41.7 48.3 29.  24.  25.1 31.5
 23.7 23.3 22.  20.1 22.2 23.7 17.6 18.5 24.3 20.5 24.5 26.2 24.4 24.8
 29.6 42.8 21.9 20.9 44.  50.  36.  30.1 33.8 43.1 48.8 31.  36.5 22.8
 30.7 50.  43.5 20.7 21.1 25.2 24.4 35.2 32.4 32.  33.2 33.1 29.1 35.1
 45.4 35.4 46.  50.  32.2 22.  20.1 23.2 22.3 24.8 28.5 37.3 27.9 23.9
 21.7 28.6 27.1 20.3 22.5 29.  24.8 22.  26.4 33.1 36.1 28.4 33.4 28.2
 22.8 20.3 16.1 22.1 19.4 21.6 23.8 16.2 17.8 19.8 23.1 21.  23.8 23.1
 20.4 18.5 25.  24.6 23.  22.2 19.3 22.6 19.8 17.1 19.4 22.2 20.7 21.1
 19.5 18.5 20.6 19.  18.7 32.7 16.5 23.9 31.2 17.5 17.2 23.1 24.5 26.6
 22.9 24.1 18.6 30.1 18.2 20.6 17.8 21.7 22.7 22.6 25.  19.9 20.8 16.8
 21.9 27.5 21.9 23.1 50.  50.  50.  50.  50.  13.8 13.8 15.  13.9 13.3
 13.1 10.2 10.4 10.9 11.3 12.3  8.8  7.2 10.5  7.4 10.2 11.5 15.1 23.2
  9.7 13.8 12.7 13.1 12.5  8.5  5.   6.3  5.6  7.2 12.1  8.3  8.5  5.
 11.9 27.9 17.2 27.5 15.  17.2 17.9 16.3  7.   7.2  7.5 10.4  8.8  8.4
 16.7 14.2 20.8 13.4 11.7  8.3 10.2 10.9 11.   9.5 14.5 14.1 16.1 14.3
 11.7 13.4  9.6  8.7  8.4 12.8 10.5 17.1 18.4 15.4 10.8 11.8 14.9 12.6
 14.1 13.  13.4 15.2 16.1 17.8 14.9 14.1 12.7 13.5 14.9 20.  16.4 17.7
 19.5 20.2 21.4 19.9 19.  19.1 19.1 20.1 19.9 19.6 23.2 29.8 13.8 13.3
 16.7 12.  14.6 21.4 23.  23.7 25.  21.8 20.6 21.2 19.1 20.6 15.2  7.
  8.1 13.6 20.1 21.8 24.5 23.1 19.7 18.3 21.2 17.5 16.8 22.4 20.6 23.9
 22.  11.9]

In [7]:
# Create the dataframe and add the feature_names column

df = pd.DataFrame(data=data['data'], columns=data['feature_names'])

In [8]:
# Look at the first few columns of data and transpose
df.head().T

                 0          1          2          3          4
CRIM       0.00632    0.02731    0.02729    0.03237    0.06905
ZN        18.00000    0.00000    0.00000    0.00000    0.00000
INDUS      2.31000    7.07000    7.07000    2.18000    2.18000
CHAS       0.00000    0.00000    0.00000    0.00000    0.00000
NOX        0.53800    0.46900    0.46900    0.45800    0.45800
RM         6.57500    6.42100    7.18500    6.99800    7.14700
AGE       65.20000   78.90000   61.10000   45.80000   54.20000
DIS        4.09000    4.96710    4.96710    6.06220    6.06220
RAD        1.00000    2.00000    2.00000    3.00000    3.00000
TAX      296.00000  242.00000  242.00000  222.00000  222.00000
PTRATIO   15.30000   17.80000   17.80000   18.70000   18.70000
B        396.90000  396.90000  392.83000  394.63000  396.90000
LSTAT      4.98000    9.14000    4.03000    2.94000    5.33000

In [9]:
# Take a look at the data to see if there are any qualitative or quantitative variables
# Ideally handle the qualitative variables, but in this case, there aren't any qualitative.

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
CRIM       506 non-null float64
ZN         506 non-null float64
INDUS      506 non-null float64
CHAS       506 non-null float64
NOX        506 non-null float64
RM         506 non-null float64
AGE        506 non-null float64
DIS        506 non-null float64
RAD        506 non-null float64
TAX        506 non-null float64
PTRATIO    506 non-null float64
B          506 non-null float64
LSTAT      506 non-null float64
dtypes: float64(13)
memory usage: 51.5 KB

In [10]:
# Pull the Median values into a DataFrame and take a look.
# Documentation said:     :Median Value (attribute 14) is usually the target
df_prices = pd.DataFrame(data['target'], columns=['MEDV'])

In [11]:
df_prices.head().T

         0     1     2     3     4
MEDV  24.0  21.6  34.7  33.4  36.2

In [12]:
# Set my X and Y
# Note: I am not going to do variance thresholding since all my variables have different values. 
# More in feature selection - http://scikit-learn.org/stable/modules/feature_selection.html

X = df
y = df_prices

In [13]:
# Now that my X and Y are set, I can train test split my data

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [14]:
# Take a peek at how the data was split
X_train.count(), X_test.count()

(CRIM       339
 ZN         339
 INDUS      339
 CHAS       339
 NOX        339
 RM         339
 AGE        339
 DIS        339
 RAD        339
 TAX        339
 PTRATIO    339
 B          339
 LSTAT      339
 dtype: int64, CRIM       167
 ZN         167
 INDUS      167
 CHAS       167
 NOX        167
 RM         167
 AGE        167
 DIS        167
 RAD        167
 TAX        167
 PTRATIO    167
 B          167
 LSTAT      167
 dtype: int64)

In [15]:
y_train.count(), y_test.count()

(MEDV    339
 dtype: int64, MEDV    167
 dtype: int64)

In [16]:
# There are 13 unique columns in my X variable.
X_train.columns.nunique()

13

In [23]:
# Now I want to know what variables are likely to predict my Boston house value
# Usually in this step, I would look at the distributions within my test set and determine if I need to do any feature transformations
# However, for this exercise, I just want to practice feature selection and apply the KNN model :)

# Use select k best; looking at regression because we're looking at only quant data
# I want to select the best 5 features (out of 13) to apply to KNN, so I will set k to 5
# The best way to understand which k to select is to pick the one that has the smallest difference between the test set and the validation set
skb = SelectKBest(mutual_info_regression, k=10)

X_train = skb.fit_transform(X_train, y_train.MEDV) 
#Note: y_train threw an error because of the shape; my selecting MEDV, the shape of the array complies

In [24]:
X_train.shape

(339, 10)

In [27]:
# Let's take care of outliers

ss = StandardScaler()
X_train = ss.fit_transform(X_train, y_train.MEDV)

In [28]:
# Look at the Select K Best results

df.columns[skb.get_support()]

Index(['CRIM', 'INDUS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO',
       'LSTAT'],
      dtype='object')

In [29]:
# Apply the train data to KNN

knn = KNeighborsRegressor()

knn.fit(X_train, y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=1, n_neighbors=5, p=2,
          weights='uniform')

In [30]:
# Score the train data
# So, the first time I tried this, my score was very low .64! This may be because my k was so small
# using ss StandardScaler(), i handled some outliers and my score increased to .85
knn.score(X_train, y_train)

0.8747685752464371

In [ ]:
## NEXT - TEST PREDICTION ON KNN